# requirements.txt

# Data analysis
pandas
numpy

# Undersampling y oversampling de datos
imblearn

# Model preservation
joblib

# visualization
matplotlib
seaborn

# Machine Learning
scikit-learn